<!DOCTYPE html>
<html>
<head>
    <title> Javascript : MineSweeper puzzle</title>
</head>
<body>
<center id="game">
    <a style="cursor: pointer; padding-left: 10%;" @click="restartGame()">{{restartMessage}}</a>
    <div id="canvas">
        <table border="1">
            <tbody>
            <tr v-for="row in game" :key="row">
                <td v-for="cell in row" align="center" valign="center" height="30" width="30"
                    v-bind:id="cell.i + '-' + cell.j"  @click="clickCell(cell, true)"
                    @contextmenu="toggleCellMarkMine(cell, $event)"
                    style="background-color: rgb(246, 206, 216);">
                    {{printCell(cell)}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>剩余地雷数 : <div style="display:inline;" id="score">{{game.remainingMines}}</div></h2>
    <b>HOW TO PLAY:</b> 左键点击未知方块：探测地雷；左键点击数字方块：自动探测周围地雷；右键点击：标记地雷/取消标记地雷。
</center>


</body>

</html>
